@model Personal_StoreFront.DATA.EF.Models.CardCondition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CardCondition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CardConditionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
